.container-signup{
  padding: 7%;
}
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 5px #0056b3;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(104, 122, 227) 0%, rgba(135,132,220,1) 35%, rgba(178,160,254,1) 100%);
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 15px;
  }
  .signup-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .signin-link {
    margin-left: auto;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-link {
    color: #007bff;
    text-decoration: none;
    text-align: center;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: rgba(135,132,220,1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .signup-button:hover {
    color: white;
    background-color: rgba(135,132,220,1);
  }
  .get-otp-button{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: rgba(135,132,220,1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .get-otp-button:hover{
    background-color: rgb(172, 172, 172);
    color: rgba(135,132,220,1);
    border: none;
  }
  .resend-otp-button{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(104, 100, 231);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .resend-otp-button:hover{
    background-color: rgb(182, 182, 182);
    color: rgb(104, 100, 231);
  }