.container {
  margin-top: 5%;
}
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 5px #0056b3;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(79,96,193,1) 0%, rgba(135,132,220,1) 35%, rgba(178,160,254,1) 100%);
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-link {
    color: #007bff;
    text-decoration: none;
    text-align: center;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  