.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
  font-size: larger;
}

.floatingButton:hover {
  transform: scale(1.5);
}

button.round {
  background-color: rgb(89, 86, 194);
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 53px;
  width: 53px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
 }
button.round:hover {
  background-color: rgb(162, 160, 229);
 }
 
 button.round:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
 }