.happy-family-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for better spacing */
}

.happy-family-content {
  display: flex;
  flex-wrap: wrap; /* Allow text and image to wrap in smaller screens */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Keep text and image vertically aligned */
}
.happy-family-card {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ddd; /* Thin border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
  transition: transform 0.2s ease-in-out; /* Animation for hover effect */
}

.happy-family-card:hover {
  transform: translateY(-5px); /* Slight upward movement on hover */
}


.happy-family-image img {
  width: 500px;
  height: auto;
  border-radius: 8px; /* Rounded corners for the image */
}

.happy-family-text {
  padding: 20px; /* Maintain padding for text content */
  margin: 0; /* Remove margin to prevent extra spacing */
  text-align: center; /* Keep text centered even when responsive */
}

/* New text styling classes */
.happy-family-title {
  font-weight: 600;
  font-size: 24px; /* Adjust title font size */
  margin-bottom: 10px; /* Add some space after the title */
}

.happy-family-subtitle {
  font-weight: 500;
  font-size: 18px; /* Adjust subtitle font size */
  margin-bottom: 15px; /* Add some space after the subtitle */
}

.happy-family-paragraph {
  line-height: 1.5; /* Increase line-height for better readability */
  margin-bottom: 20px; /* Add some space after the paragraph */
}

.happy-family-text button {
  width: 180px;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  padding: 15px 20px; /* Adjust padding for better button size */
  font-size: 16px;
  animation: slideInUp 1s ease; /* Add slideInUp animation for button */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .happy-family-container{
    display: flex;
  }
  .happy-family-image img {
    width: 100%; /* Make image responsive on smaller screens */
  }

  .happy-family-text {
    flex: 1; /* Allow text content to take full width on smaller screens */
  }
}
